@using Vitly.Models
@model Vitly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*This is a razor comment**@

@{
    var className = Model.Customers.Count > 0 ? "popular" : null;
}

<h2 class="@className">Customers</h2>

<p>@Model.Movie.Name</p>